:root {
  --color-primary: #fca525;
  --color-secondary: #6c757d;
  --color-success: #28a745;
  --color-info: #17a2b8;
  --color-warning: #ffc107;
  --color-danger: #dc3545;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
  --color-border: #cccccc;
  --color-gray1: #f8f9fa;
  --color-gray2: #f1f3f5;
    --color-gray3: #e9ecef;
  --color-background: #f8f9fa;
  --color-background-dark: #343a40;
  --color-text: #4f4e4e;
  --color-text-dark: #f8f9fa;
  --color-link: #f0a93e;
  --color-link-hover: #c08827;
  --color-react: #61dafb;
  --color-next: #000000;
  --color-ts: #3178c6;
  --color-js: #f0db4f;
  --color-vue: #41b883;
  --color-nuxt: #00c58e;

  --size-1: 0.1rem;
  @for $i from 2 through 100 {
    @if $i % 2 == 0 {
      --size-#{$i}: #{$i * 0.1}rem;
    }
  }

  --size-half: 50%;
  --size-full: 100%;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-bold: 700;
}

@mixin setColorMode($mode) {
  @if $mode == 'light' {
    --color-background: #f8f9fa;
    --color-text: #4f4e4e;
  } @else {
    --color-background: #343a40;
    --color-text: #f8f9fa;
  }

}
html {
  @include setColorMode('light');

  &.dark-mode {
    @include setColorMode('dark');
  }
}


